@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html {
  padding-block: 2.4rem;
  padding-inline: 8rem;
} */
:root {
  --container-width: 767px;
  --side-padding: calc(50vw - var(--container-width) / 2);
}

* {
  scroll-behavior: smooth;
}